.navbar{
    display: flex;
    align-items: center;
    background-color: rgb(17, 16, 16);
}

.brand{
    width: 10%;
}

.brand-img{
    width: 100%;
}

.categories{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    list-style: none;
}